a:hover {
    text-decoration: wavy;
}

body{
    background-color: antiquewhite;
}

/*HEADER*/

header {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header button {
    background-color: rgb(216, 203, 203);
    border-radius: 50px;
    margin-left: 90%;
    text-align: center;
    position: fixed;
    text-decoration: none;
}

.box {
border: solid, 1px;
border-color: rgb(207, 207, 193), blue;
border-radius: 4px;
text-align: center;
}




h1 {
    color: cornsilk;
    font-family: Ravie;
    position: fixed;
    text-indent: 50px;
    text-shadow: -3px -3px 5px rgb(160, 9, 97), 3px 3px 5px rgb(223, 37, 37), -3px -3px 5px rgb(60, 170, 16);
    
}

/*MAIN*/

main {
    background-image: url(Images/Christmas\ Cranberry\ Salad.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main h2 {
    text-align: center;
    font-family: Showcard Gothic;
    text-shadow: 6px 5px 3px grey, -6px -5px 3px rgb(36, 20, 32), 2px 2px 3px rgb(9, 2, 104);
    font-size: 50px;
    color: bisque;
}

section button {
    border-color: burlywood;
    border-style: dotted;
    margin-left: 22%;
}

/*BOX*/

box img {
    height: 190px;
    width: 190px;
    border-radius: 80px;
}

box {
    font-family: Wide Latin;
    font-size: 12px;
}

/*FOOTER*/

footer {
    text-align: center;
}

footer div a img {
    border-radius: 17px;
    block-size:40px;
}